<?php

define('DOMAIN', 'http://prom.ua/');

define('DB_HOST', '127.0.0.1');
define('DB_NAME', 'promua');
define('DB_USER', '');
define('DB_PASS', '');

define('CSV', ROOT . '/csv/');

define('COOKIE_FILE', ROOT . '/cookie.txt');
define('USER_AGENT', 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:44.0) Gecko/20100101 Firefox/44.0');